.user-details {
    text-align: center;

    h2 {
        margin-top: 20px;
        color: #2B3674;

        &:hover {
            cursor: pointer;
        }


    }

    p {
        margin-top: 10px;
    }

    button {
        margin-top: 20px;
        padding: 10px 20px;
        background-color: #2B3674;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
}