<mat-drawer-container class="example-container">
    <mat-drawer class="drawer" mode="side" opened>
        <h1>
            <mat-icon aria-hidden="false" aria-label="dashboard icon" fontIcon="dashboard"></mat-icon>
            Dashboard
        </h1>
        <hr>
        <ul>
            <li>
                <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon aria-hidden="false" aria-label="home icon" fontIcon="home"></mat-icon>
                    Home
                </a>
            </li>
            <li>
                <a routerLink="/users" routerLinkActive="active">
                    <mat-icon aria-hidden="false" aria-label="users icon" fontIcon="group"></mat-icon>
                    Users
                </a>
            </li>
            <li>
                <a class="disabled" href="/products">
                    <mat-icon aria-hidden="false" aria-label="products icon" fontIcon="archive"></mat-icon>
                    Products
                </a>
            </li>
            <li>
                <a class="disabled" href="/settings">
                    <mat-icon aria-hidden="false" aria-label="settings icon" fontIcon="settings"></mat-icon>
                    Settings
                </a>
            </li>
            <li>
                <a class="disabled" href="/logout">
                    <mat-icon aria-hidden="false" aria-label="logout icon" fontIcon="logout"></mat-icon>
                    Logout
                </a>
            </li>
        </ul>
    </mat-drawer>
    <mat-drawer-content class="main">
        <app-header></app-header>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>